body {
	
			background: url(../images/puckered.png) 50% bottom no-repeat fixed;
       padding-top: 40px;
       padding-bottom: 40px;
       background-color: #f5f5f5;
     }
h1,h2, h3, h4, p {
	color:white;
}

h1,h2,h3,h4 { font-family: 'Signika';}

p, .well {
	font-family: 'Oxygen', 'sans-serif';
	font-size:1.1em;
}

.container {
	background: url(../images/grain.png) repeat #333;
  max-width: 500px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.items-menu {
	text-align:center;
	width:45%;
	margin: 20px auto;
	padding: 15px 5px 5px 5px;
	background-color:#eee;
  border: 1px solid #e5e5e5;
 -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
 -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.items-menu li {
	font-family: 'Source Sans Pro', 'sans-serif';
	display:inline-block;
	padding-right:20px;
}
	
.item {
	
}

.picture {
	margin:30px 0px 60px 0px;
	text-align:center;
}

.img {
	margin:auto;
}

.description {
	text-align:justify;
	width:80%;
	margin: auto;
	margin-bottom:40px;
}
	
.price {
	font-size:2.5em;
}

.small-print {
	font-size:0.75em;
}

.order-here {
	margin-top:50px;
	margin-bottom:0px;
	text-align:center;
}

.btn {
	margin: auto;
}